<div ng-controller="resultsTubmlrCtrl">

	<div class="row">
		
			<ul class="list-group tumblr_ul">
				<li class="list-group-item tumblr_li" ng-repeat="tumblr in tumblrs track by $index">
				<div class="tumblr_div">
					<div><h4>Blog Name: <strong>{{tumblr.blogName}}</strong></h4></div>
					<a href={{tumblr.postUrl}} target="_blank">View blog on external link</a>
					<div><iframe src="{{tumblr.postUrl | trustAsResourceUrl }}" class="tumblr_iframe"></iframe></div>
				</div>
				</li>
			</ul>
		
	</div>
</div>
