
<div ng-controller="resultsTweetsCtrl" class="maxH">
<div class="tweet_main maxH">
	<div class="row tweet_padding">
		<div class="col-md-7 tweet_div">
			<table class="table">
				<thead>
					<tr>
					  <th>Created At</th>          
					  <th>Tweet</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tweet in tweets">
						<td>{{ tweet.created_at }}</td>
						<td>{{ tweet.text }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4 Cright">
			<div class="row tweet_emo_div">
				<div class="col-md-12">
					<h3>Sentiment Analysis</h3>
					<table class="table">
						<thead>
							<tr>
							  <th>Sentiment Score</th>          
							  <th>Type</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ sentiment.score }}</td>
								<td>{{ sentiment.type }}</td>
							</tr>
							<tr>
								<div ng-show="positiveSentiMsg" class="alert alert-success">
									<strong>There is a good feeling amongst people about this city.</strong>
								</div>
								<div ng-show="negativeSentiMsg" class="alert alert-danger">
									<strong>There is a bad feeling amongst people about this city.</strong>
								</div>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row tweet_emo_div Ctop">
				<!-- <div class="col-md-12">
					<h3>Emotions Analysis</h3>
					<table class="table">
						<thead>
							<tr>
							  <th>Emotions</th>          
							  <th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="emotion in emotions">
								<td>{{ emotion.emotion }}</td>
								<td>{{ emotion.value }}</td>
							</tr>
						</tbody>
					</table>
				</div> -->
				<div class="col-md-12">
					<div id="containerChart" style="width: 330px; height: 300px; margin: 0 auto"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>