<div ng-controller="resultsYelpCtrl" class="maxH">
<div class="yelp_main maxH">

	<div class="row yelp_row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
					  <th>Restaurant Name</th>          
					  <th>Rating</th>
					  <th>Yelp Link</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="yelp in yelps track by $index">
						<td>
							<img src={{yelp.yelpImageUrl}} class="yelp_img"/>
							{{ yelp.yelpName }}
						</td>
						<td>
							<img ng-src="{{yelp.yelpRatingImgUrl}}" />
						</td>
						<td><a href="{{ yelp.yelpUrl }}" target="_blank">View on Yelp</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>